*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #1d2671, #c33764);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.container{
    background: rgba(0,0,0,0.55);
    width: 420px;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    color: white;
}

/* Headings */
.container h2{
    text-align: center;
    margin-bottom: 10px;
}

.container p{
    text-align: center;
    font-size: 14px;
    color: #ddd;
    margin-bottom: 20px;
}

/* Input fields */
.input-group{
    margin-bottom: 15px;
}

.input-group input{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.input-group input:focus{
    box-shadow: 0 0 8px #00e5ff;
}

/* Buttons */
button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #00e5ff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #1de9b6;
}

/* Links */
.links{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.links a{
    color: #ffeb3b;
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline;
}

/* Error */
.error-message{
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}
